<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="footer-layout">
        <ul>
          <li><a href=""></a></li>
          <li><a href="">llllllllllllll</a></li>
          <li><a href="">llllllllllllll</a></li>
          <li><a href="">llllllllllllll</a></li>
          <li><a href="">llllllllllllll</a></li>
        </ul>
      </div>
      <div class="footer-layout">
        <ul>
          <li><a href=""></a></li>
          <li><a href="">ooooooooooo</a></li>
          <li><a href="">ooooooooooo</a></li>
          <li><a href="">ooooooooooo</a></li>
          <li><a href="">ooooooooooo</a></li>
        </ul>
      </div>
      <div class="footer-layout">
        <ul>
          <li><a href=""></a></li>
          <li><a href="">xxxxxxxxxx</a></li>
          <li><a href="">xxxxxxxxxx</a></li>
          <li><a href="">xxxxxxxxxx</a></li>
          <li><a href="">xxxxxxxxxx</a></li>
        </ul>
      </div>
      <div class="footer-layout">
        <ul>
          <li><a href=""></a></li>
          <li><a href="">wwwwwwww</a></li>
          <li><a href="">wwwwwwww</a></li>
          <li><a href="">wwwwwwww</a></li>
          <li><a href="">wwwwwwww</a></li>
        </ul>
      </div>
      <div class="footer-layout">
        <ul>
          <li><a href=""></a></li>
          <li><a href="">mmmmmmmmmm</a></li>
          <li><a href="">mmmmmmmmmm</a></li>
          <li><a href="">mmmmmmmmmm</a></li>
          <li><a href="">mmmmmmmmmm</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
