<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div data-aos="fade-up"
            data-aos-duration="3000">
                <a class="logo" href="/pages/home.html"><img src="/assets/images/Logo-JongNham.png" alt=""><span>JONG NHAM</span></a>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="/pages/home.html">Home</a></li>
                <li><a href="/pages/about.html">About</a></li>
                <li><a href="/pages/menu.html">Menu</a></li>
                <li><a href="/pages/team.html">Team</a></li>
                <li><a href="/pages/gallery.html">Gallery</a></li>
                <li><a href="/pages/blog.html">Blog</a></li>
                <li><a href="/pages/reservation.html">Reservation</a></li>
            </ul>
            <div class="contact">
                <a href="/pages/contact.html" class="contact-box">Contact</a>
                <a href="/pages/contact.html"><i class="bx bx-search-alt-2"></i></a>
                <a href="/pages/contact.html"><i class="bx bxs-cart" ></i></a>
            </div>
            
        </nav>
    </header>
    
    <script src="/js/header.js"></script>
</body>
</html>
